**Trabajando MySQL desde Python**

Con Python se pueden trabajar aplicaciones que usen Bases de Datos, y uno de los motores de bases de datos más populares es MySQL.

Generalmente este tipo de aplicaciones se trabaja para leer los datos de las bases de datos de dichos motores, pero en ocasiones se desarrollan aplicaciones transaccionales con Python y estos motores de bases de datos.

Para poder elaborar el siguiente tutorial se debe tener instalado MySQL en su computador.

**Instalar el controlador MySQL**

Python necesita un controlador MySQL para acceder a la base de datos MySQL (MySQL Connector).
Use el comanto PIP para instalar el controlador.
Lo más probable es que PIP ya esté instalado en su entorno Python.
El comando para la instalación sería:
python -m pip install mysql-connector-python, si está trabajando en un entorno como colab, ejecute el comando que se muestra a continuación.

In [ ]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading https://files.pythonhosted.org/packages/ce/1d/378f92f45fb98d7e033f6a94b0600b8ae496e67ba411b992f536784a3d0d/mysql_connector_python-8.0.21-cp36-cp36m-manylinux1_x86_64.whl (15.8MB)
     |████████████████████████████████| 15.8MB 297kB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from mysql-connector-python) (3.12.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (49.6.0)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.21

Para probar si la instalación fue exitosa, o si ya tiene instalado "MySQL Connector", ejecute el siguiente contenido:

In [ ]:
import mysql.connector

Si el código anterior se ejecutó sin errores, "MySQL Connector" está instalado y listo para ser utilizado.

**Crear conexión**

Comience creando una conexión a la base de datos.
Utilice el nombre de usuario y la contraseña de su base de datos MySQL:

In [ ]:
mydb = mysql.connector.connect(
  host="167.86.105.47",
  user="root",
  password=""
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f95336da048>

Vamos a crear una base de datos en este servidor y una tabla para hacer las pruebas correspondientes.

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE pythonmysql")

Si el código anterior se ejecutó sin errores, ha creado correctamente una base de datos.

Puede verificar si existe la base de datos, intentaremos entrar en ella, al momento de realizar la conexión. Modifiquemos la función de la conexión, así:

In [ ]:
mydb = mysql.connector.connect(
  host="167.86.105.47",
  user="root",
  password="",
  database="pythonmysql"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f95336da6d8>

Si la base de datos no existe, obtendrá un error.

**Crear una tabla**

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE users (email VARCHAR(255), password VARCHAR(50))")
#Verificamos inmediatamente si la tabla existe
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")
for x in mycursor:
  print(x)
mycursor.execute("ALTER TABLE users ADD PRIMARY KEY(email)")

('users',)

**Elaborando el CRUD**

**Insertar**

In [ ]:
sql = "INSERT INTO users(email, password) VALUES (%s, %s)"
val = ("fredyssimanca@hotmail.com", "123456")
mycursor.execute(sql, val)
mydb.commit()
print(mycursor.rowcount, "Usuario insertado.")

1 Usuario insertado.

**Insertar varias filas**

In [ ]:
sql = "INSERT INTO users(email, password) VALUES (%s, %s)"
val = [
  ('test1@test.com', '123456'),
  ('test2@test.com', '123456'),
  ('test3@test.com', '123456'),
  ('test4@test.com', '123456'),
  ('test5@test.com', '123456'),
  ('test6@test.com', '123456'),
  ('test7@test.com', '123456'),
  ('test8@test.com', '123456'),
  ('test9@test.com', '123456'),
  ('test10@test.com', '123456')
]
mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "fueron insertados.")

10 fueron insertados.

**Consultar un registro**

In [ ]:
sql = "SELECT * FROM users WHERE email = %s"
adr = ("test5@test.com", )
mycursor.execute(sql, adr)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('test5@test.com', '123456')

**Eliminar un registro**

In [ ]:
sql = "DELETE FROM users WHERE email = 'test10@test.com'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "Registro eliminado")

1 Registro eliminado

Para prevenir la inyección de SQL en Python, se puede usar la siguiente estructura, está ya fue trabajada en la opción de consulta de registros.

In [ ]:
sql = "DELETE FROM users WHERE email = %s"
adr = ("test1@test.com", )
mycursor.execute(sql, adr)
mydb.commit()
print(mycursor.rowcount, "registro eliminado")

1 registro eliminado

**Actualización de registros**

In [ ]:
sql = "UPDATE users SET password = '1234' WHERE email = 'fredyssimanca@hotmail.com'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "registro actualizado")

1 registro actualizado